# Archivos de Build (lo más importante)
/build
/app/build

# Archivos de IDE y configuración local
*.iml
.gradle
/local.properties
/.idea/
/.kotlin/

# Otros
.DS_Store
/captures
.externalNativeBuild
.cxx